<h1>Editing artist</h1>

<%= render 'form' %>

<div class="control-group">
  <div class="controls">
    <%= link_to 'Back', :back, :class => 'btn btn-inverse' %>
    <%= link_to 'Show', artist_path(@artist), :class => 'btn btn-primary' %>

    <% if @artist.user == @current_user %>
        <%= link_to 'Delete', artist_path(@artist), :method => :delete, :class => 'btn btn-danger' %>
    <% end %>
  </div>
</div>
