<div class="span10">
  <p><%= result.name %></p>
</div>
<div class="span1">
  <%= button_to 'Add', root_path, :class => 'btn btn-inverse' %>
</div>
<div class="span1">
  <%= button_to 'Show', artist_path(:id => result.id), :class => 'btn btn-primary' %>
</div>
