<% @page_title = "Search results for \"#{@query}\""
   @css_sources = 'search'
   @js_sources = 'search' -%>

<h1>Search#results</h1>
<p>Searched for &quot;<%= @query %>&quot;.</p>
<p>Found <%= @artists_count %> artists and <%= @tracks_count %> tracks.</p>
