<h1>About</h1>
<ol>
  <li>
    <p>What's you species?<br>
      <i>We are software developers.</i>
    </p>
  </li>
  <li>
    <p>What do you do? <br>
      <i>We design text (also known as code) to provide more or less useful things like music applications.</i>
    </p>
  </li>
  <li>
    <p>When did you start doing what we're doing?<br>
      <i>We started in the beginning of spring 2013.</i>
    </p>
  </li>
  <li>
    <p>Where are you?<br>
      <i>We are at
        <a href="https://maps.google.de/maps?q=Duale+Hochschule+Baden-W%C3%BCrttemberg+Karlsruhe,+Erzbergerstra%C3%9Fe,+Karlsruhe&hl=de&ie=UTF8&sll=49.0256,8.382826&sspn=0.038552,0.104628&oq=Duale+&t=h&hq=Duale+Hochschule+Baden-W%C3%BCrttemberg+Karlsruhe,+Erzbergerstra%C3%9Fe,+Karlsruhe&z=15">Duale
          Hochschule Karlsruhe</a>.
      </i>
    </p>
  </li>
  <li>
    <p>How are you accomplishing what you claim to do?<br>
      <i>We are doint that with the help of the two most important things for young software developers: passion and
        coffee.</i>
    </p>
  </li>
</ol>