<h1>About Catchy Tune</h1>
<ol>
  <li>
    <p>What does this website do?<br>
      <i>With Catchy Tune you can listen to your favourite music whenever you want. Just navigate to our website, add
        some songs to your playlist and enjoy pure music.</i>
    </p>
  </li>
  <li>
    <p>Help! I did not find a way to play a song yet!<br>
      <i>Type a song or artist name in the search bar on the top of the screen. By clicking on the magnifier all
        results that were found are displayed. Lastly, click on "add" or "add all" to add songs to your playlist. Use
        the player on the bottom to adjust the volume or skip to the next song.</i>
    </p>
  </li>
  <li>
    <p>I am an artist and I want to share my music. How can I do that with Catchy Tune?<br>
      <i>Sharing music to the public is pretty easy with Catchy Tune. Just click on "upload" in the top menu bar and
        upload the songs you want to share. </i>
    </p>
  </li>
</ol>

<br>
<h1>About us</h1>
<ol>
  <li>
    <p>What's you species?<br>
      <i>We are software developers.</i>
    </p>
  </li>
  <li>
    <p>What do you do? <br>
      <i>We design text (also known as code) to provide more or less useful things like music applications.</i>
    </p>
  </li>
  <li>
    <p>When did you start doing what we're doing?<br>
      <i>We started in the beginning of spring 2013.</i>
    </p>
  </li>
  <li>
    <p>Where are you?<br>
      <i>We are at
        <a href="https://maps.google.de/maps?q=Duale+Hochschule+Baden-W%C3%BCrttemberg+Karlsruhe,+Erzbergerstra%C3%9Fe,+Karlsruhe&hl=de&ie=UTF8&sll=49.0256,8.382826&sspn=0.038552,0.104628&oq=Duale+&t=h&hq=Duale+Hochschule+Baden-W%C3%BCrttemberg+Karlsruhe,+Erzbergerstra%C3%9Fe,+Karlsruhe&z=15">Duale
          Hochschule Karlsruhe</a>.
      </i>
    </p>
  </li>
  <li>
    <p>How are you accomplishing what you claim to do?<br>
      <i>We are doint that with the help of the two most important things for young software developers: passion and
        coffee.</i>
    </p>
  </li>
</ol>