<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Catchy Tune', root_path, :class => 'brand' %>

      <form action="/search/results" method="get" class="navbar-search form-search pull-left" data-pjax>
        <div class="input-append">
          <input type="text" name="query" class="input-xlarge search-query" placeholder="Search"/>
          <button type="submit" id="search-submit" class="btn btn-inverse">
            <i class="icon-search icon-white"></i>
          </button>
        </div>
      </form>

      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li><p class="navbar-text pull-right"><%= @current_user.username %></p></li>
        <li><%= link_to :controller => "sessions", :action => 'logout' do %>
              <i class="icon-white icon-off"></i>
          <% end %></li>
      </ul>

      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#upload">Upload</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>