<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div id="playerholder" class="container">
      <div class="span4">
        <div class="btn-group">
          <button class="btn">play</button>
          <button class="btn">next</button>
        </div>
      </div>
      <div class="span7">
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>
        <div>Artist - Song name</div>
      </div>
    </div>
  </div>
</div>