<% @css_sources << 'player'
   @js_sources << 'player' %>

<audio id="player" src=""></audio>
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div id="playerholder" class="container">
      <div class="span4">
        <div class="btn-group">
          <button id="play" class="btn">play</button>
          <button id="next" class="btn">next</button>
          <button id="volumeup" class="btn">+</button>
          <button id="volumedown" class="btn">-</button>
        </div>
      </div>
      <div class="span7">
        <div class="progress">
          <div id="playprogressbar" class="bar" style="width: 0%;"></div>
        </div>
        <div>Artist - Song name</div>
      </div>
    </div>
  </div>
</div>